<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Domine:wght@400..700&display=swap');
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <div class="cartao">
        <form method="POST">
            <h1 class="cadastro">Cadastro</h1>

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome">

            <label for="idade">Idade:</label>
            <input type="number" id="idade" name="idade">

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf">

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha">

            <label for="confirmar_senha">Confime a senha:</label>
            <input type="password" id="confirmar_senha" name="confirmar_senha">

            <button type="submit">CRIAR CONTA</button>
        </form>
        <form>
            
            <!-- Comando do proprio Flask-->
            {% if mensagem %}
                <p>{{ mensagem }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>