<!DOCTYPE html>
<html lang="pt-br">
<head>  
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Domine:wght@400..700&display=swap');
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SistemLogin.v2</title>
</head>
<body>
    <header></header>
    <div class="cartao cartao-inicio">
        <h1>Sistema de Login</h1>
        <a  href="/criar-conta" class="ref">CRIAR CONTA</a>
        <a  href="/login" class="ref">FAZER LOGIN</a>
    </div>
</body>
</html>